---
---

<footer class="h-10 w-screen flex justify-center text-xs text-neutral-500">
  <div class="my-auto px-3 text-center">
    Made with and inspired by{" "}
    <a class="hover:underline font-semibold" href="https://notion.so">
      notion
    </a>
    . Built and designed with ❤️ by{" "}
    <a class="hover:underline font-semibold" href="https://dylanbrown.space">
      Dylan Brown
    </a>
  </div>
</footer>
